.paginateContainer {
  margin-top: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .leftWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    p {
      color: #545f7d;
      font-family: Work Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .select {
      border-radius: 4px;
      background: rgba(33, 63, 125, 0.1);
      padding: 0.5rem 0.9rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.6rem;
      cursor: pointer;
    }
  }
  .rightWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.9rem;

    ul {
      margin: 0;
      list-style-type: none;
      display: flex;
      align-items: center;

      li {
        color: #545f7d;
        font-family: Work Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0.2rem 0.7rem;
        cursor: pointer;
      }
    }

    .Icon {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background: rgba(33, 63, 125, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 0;
      outline: none;
    }
  }
}
