.layout {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;

  .container {
    min-height: 75vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex: 1;
  }

  .imageContainer {
    background-color: #fefefe;
    padding: 6rem 4.5rem;
    width: 100%;

    img {
      object-fit: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      //   margin-top: 5rem;
    }
  }

  .loginContainer {
    background-color: #fff;
    box-shadow: 0px 15px 90px 0px rgba(0, 0, 0, 0.03);
    width: 100%;
    padding: 6rem 4.5rem;

    &--mobileLogo {
      display: none;
    }

    .textContainer {
      margin-bottom: 2rem;
      h3 {
        color: #213f7d;
        font-family: Avenir Next;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.6px;
      }
      p {
        color: #545f7d;
        font-family: Avenir Next;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .formContainer {
      width: 100%;

      input {
        outline: none;
        font-size: 12px;
        border: 0;
        padding: 0.4rem;
        color: #545f7d;

        ::placeholder {
          color: #545f7d;
          font-family: Avenir Next;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .input {
        border-radius: 5px;
        border: 2px solid rgba(84, 95, 125, 0.15);
        background: #fff;
        // width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        height: 30px;
        padding: 0 0.7rem;
        margin: 1.5rem auto;

        button {
          border: 0;
          cursor: pointer;
          overflow-x: hidden;
          background-color: transparent;
          color: #39cdcc;
          text-align: center;
          font-family: Avenir Next;
          font-size: 10px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 1.2px;
          text-transform: uppercase;
        }
      }

      .pwdReset {
        color: #39cdcc;
        cursor: pointer;
        text-align: left;
        font-family: Avenir Next;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        margin-bottom: 1.05rem;
      }

      .loginBtn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          border-radius: 8px;
          background: #39cdcc;
          cursor: pointer;
          width: 100%;
          margin: 0.5rem auto;
          outline: none;
          border: 0;
          height: 30px;
          color: #fff;
          text-align: center;
          font-family: Avenir Next;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 1.4px;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .layout {
    .imageContainer {
      display: none;
    }
    .loginContainer {
      padding: 6rem 2.5rem;
      //   background-color: rebeccapurple;
      &--mobileLogo {
        display: flex;
      }
    }
  }
}
